body {
        display: flex;
        flex-direction: column;
        scroll-behavior: smooth;
      }
 
#wrapper {
          flex: 1;
          min-height: 90vh;
      }

.dropdown {
          display: flex;
          
      }

.dropdown-trigger, .dropdown-menu {
            width: 100%;
      }

.button {
  border-width: 3px;
}

.textarea {
  border-radius: 25px;
}
